#Experiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    z-index: 1;
    align-items: center;
}

.WrapperExp {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    gap: 12px;

    @media (max-width: 960px) {
        flex-direction: column;
    }
}

.TitleExp {
    font-size: 52px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    color: var(--titulo-sections);
    transition: color 250ms ease-in-out;

    @media (max-width: 768px) {
        font-size: 32px;
    }
}

.DescExp {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: var(--descricao-sections);
    margin-bottom: 40px;
    transition: color 250ms ease-in-out;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}