nav {
    background-color: var(--cor-de-fundo);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid var(--separador);
    transition: all 250ms ease-in-out;
}

.btnToggleDark {
    list-style: none;
}

.NavbarContainer {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.NavLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    width: 100px;
    height: 40px;
    color: var(--texto-portfolio);
    border-radius: 10px;
    background-color: var(--cor-de-fundo);
    filter: drop-shadow(2px 2px 4px var(--sombra-preta));
    box-shadow: -2px -2px 4px var(--sombra-branca);
    cursor: pointer;
    padding: 0 3%;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}

.NavItems {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 0 6px;
    list-style: none;

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.NavItems.active {
    display: flex;
}

.NavLinkButton {
    display: none;
}

.NavLink a {
    color: var(--textos-nav);
    font-weight: 500;
    cursor: pointer;
    transition: all .30s ease-in-out;
    text-decoration: none;

    &:hover {
        color: var(--textos-nav-hover);
    }
}

@media (max-width: 900px){
    .NavItems {
        width: 100%;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 16px;
        padding: 0 6px;
        list-style: none;
        width: 100%;
        padding: 12px 40px 24px 40px;
        background: var(--fundo-mobile);
        border-bottom: 1px solid var(--borda-menu-mobile);
        border-radius: 0 0 15px 15px;
        backdrop-filter: blur(10px);
        position: absolute;
        top: 80px;
        right: 0;
    }

    .NavLogo {
        display: none;
    }

    .NavLinkButton {
        display: flex;
    }

    .NavLinkButton a {
        text-decoration: none;
    }

    .NavLinkButton button {
        border: 1px solid #6586FF;
        background-color: #6586FF;
        color: #fff;
        justify-content: center;
        display: flex;
        align-items: center;
        border-radius: 20px;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 400;
        transition: all 0.6s ease-in-out;
        text-decoration: none;
    }

    .NavItems .NavLink a {
        color: var(--texto-preto);
        font-weight: 400;

        &:hover {
            color: #6586FF;
        }
    }
}

.NavButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 0 6px;
    list-style: none;
}

.ButtonLink {
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--cor-de-fundo);
    cursor: pointer;
    filter: drop-shadow(1px 1px 4px var(--sombra-preta));
    box-shadow: -2px -2px 4px var(--sombra-branca);
    transition: all .30s ease-in-out;
    color: #868686;

    &:hover {
        box-shadow: 2px 2px 4px var(--sombra-branca);
        filter: drop-shadow(-1px -1px 4px var(--sombra-preta));
    }

    @media (max-width: 900px){
        display: flex;
    }
}